var setTagClass = function(index){
  if (index == 0) {
    return 'ex-tag1'
  }
  if (index == 1) {
    return 'ex-tag2'
  }
  return ''
}
var format = function (text) {
  if (!text) {
    return
  }
  var reg = getRegExp('\\\\n', 'g')
  return text.replace(reg, '\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')
}
var limit = function(comments,endIndex){
  var tempArr = comments.slice(0,endIndex)
  return tempArr
}
module.exports = { setTagClass: setTagClass, limit: limit, format: format}
